@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0px 100px;
}

h1 {
    color: #901C1C;
}

.logo {
    height: 50px;
    object-fit: cover;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link-container {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 1px;
}

.location-class {
    color: #D3573C;
    font-size: 13px;
    text-align: center;
    margin: 1px;
}

.tagline-class{
    font-size: 10px;
    text-align: center;
    margin: 1px;
}

.price-class {
    color: #757575;
    font-size: 9px;
    text-align: center;
    margin: 1px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

